{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {{ block.super }}{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>DarkSide</h1>
        <p>If you are looking for joining our forces here in the Death Start, don't waste your time anymore!</p>
        <p>
          <a class="btn btn-lg btn-primary" href="" role="button">Join us</a>
        </p>
      </div>
      <div class="col-sm-6" style="background-color:black;height:300px">
      </div>
    </div>
  </div>
</div>
{% endblock  %}

{% block content %}

<div class="row">
  <div class="col-xs-3"><p class="lead">Do what you wnat causa a pirate is free</p></div>
  <div class="col-xs-3"><p class="lead">you are a pirate? you are a pirate?</p></div>
  <div class="col-xs-3"><p class="lead">you are a pirate! you are a pirate?</p></div>

  <div class="col-xs-3 pull-right">
    <h3> Sign up now!</h3>

    <form method="POST" action="">{% csrf_token %}
    {{ form|crispy }}
    <input class ='btn btn-primary' type="submit" value="Aye!" />
    </form>
  </div>
</div>
{% endblock %}
